<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
              <img src="assets/img/logo.png" class="logo">
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="pull-right">
        <ul class="nav navbar-nav pull-left">
            <li>Find a Doctor</li>
            <li>Stay Healthy</li>
            <li class="nav_border_li">Are you a Doctor?</li>
        </ul>
        <div class="nav nav_store pull-left">
          <li><img src="assets/img/playstore.png" class="logo"></li>
          <li><img src="assets/img/app_store.png" class="logo"></li>
          <div class="clearfix"></div>
        </div>
        <div class="nav nav_log_btn pull-left">
          <li>Login</li>
          <li>Signup</li>
          <div class="clearfix"></div>
        </div>
      </div>
      </div>
    </div>
</nav>
