.navbar {
  background: rgba(119,88,130,0.9);
  border-radius: 0px;
  height:auto;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  .navbar-header {
        padding:20px;
      img {
            width: 110px;
      }
  }
  .navbar-nav {
    padding:15px;
    li{
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      padding:10px;
      padding-left: 20px;
      padding-right: 20px;

    }
    .nav_border_li{
      border-right:1px solid #715b78;
    }
  }
  .nav_store{
    padding:18px;
    padding-left:0px;
    li{
      padding: 0px;
      float: left;
      margin-right: 10px;
      img{
        width:35px;
      }
    }
  }
  .nav_log_btn{
    padding: 20px;
    li{
      border:1px solid #fffaf4;
      color: #fff;
      padding:5px;
      padding-left:20px;
      padding-right: 20px;
      margin-right:15px;
      float: left;
    }
  }
}
